<div class="row mb-4">
    <div class="col-12">
        <h2 class="display-4 text-center text-gradient font-weight-bold">
            <i class="bi bi-grid me-2"></i> Movie Categories
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped table-bordered shadow-lg">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-hover">
                        <td>@item.Name</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a href="@Url.Action("kinds", "Category", new { name = item.Name })" class="btn btn-outline-success btn-lg p-3 d-flex align-items-center">
                                    <i class="bi bi-film me-2"></i> All Movies
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Category", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Category", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Category", new { page = ViewBag.CurrentPage + 1 })">Next</a>
        </li>
    </ul>
</nav>


<style>
    .text-gradient {
        background: linear-gradient(to right, #00b4db, #0083b0);
        -webkit-background-clip: text;
        color: transparent;
    }

    .font-weight-bold {
        font-weight: 600;
    }
</style>
